<!-- chart -->
<!-- <script type="text/javascript" src="../../public/Chart.js"></script> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

<div class="container mt-3">
  <div class="row">
    <div class="col-md-4">
      <a href="/hasil" class="btn btn-dark">&laquo; Kembali</a>
    </div>
    <div class="col-md-6">
      <h2 class="fw-bold">Suhu Udara Tahun <%= tahun %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Bulan</th>
            <th scope="col">Suhu Udara</th>
          </tr>
        </thead>
        <tbody>
          <% climates.forEach((climate,i) => { %>
          <tr>
            <th scope="row"><%= climate.bulan %></th>
            <td><%= climate.suhuUdara %> °C</td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 bg-light">
      <canvas id="myChart" width="200" height="100"></canvas>
      <%= console.log(climates) %>
      <script>
        var ctx = document.getElementById("myChart").getContext("2d");
        var myChart = new Chart(ctx, {
          type: "line",
          data: {
            labels: ["Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"],
            datasets: [
              {
                label: "Suhu Udara",
                data: [25.6, 25.7, 25.8, 26.2, 26.4, 26.5, 26.6, 26.5, 26.2, 25.8, 25.5, 25.3],
                borderWidth: 4,
                borderColor: ["rgba(0,0,0,1)", "rgba(0,0,0,1)", "rgba(0,0,0,1)", "rgba(0,0,0,1)", "rgba(0,0,0,1)", "rgba(0,0,0,1)", "rgba(0,0,0,1)", "rgba(0,0,0,1)", "rgba(0,0,0,1)", "rgba(0,0,0,1)", "rgba(0,0,0,1)", "rgba(0,0,0,1)"],
              },
            ],
          },
          options: {
            scales: {
              yAxes: [
                {
                  ticks: {
                    beginAtZero: false,
                  },
                },
              ],
            },
          },
        });
      </script>
    </div>
  </div>
</div>
