<!-- chart -->
<!-- <script type="text/javascript" src="../../public/Chart.js"></script> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

<% const data = climates.curahHujan %>

<div class="container mt-3">
  <div class="row">
    <div class="col-md-4">
      <a href="/hasil" class="btn btn-dark">&laquo; Kembali</a>
    </div>
    <div class="col-md-6">
      <h2 class="fw-bold">Curah Hujan Tahun <%= tahun %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Bulan</th>
            <th scope="col">Curah Hujan</th>
          </tr>
        </thead>
        <tbody>
          <% climates.forEach((climate,i) => { %>
          <tr>
            <th scope="row"><%= climate.bulan %></th>
            <td><%= climate.curahHujan %> mm</td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 bg-light" id="data" data-climate="<%= JSON.stringify(climates) %>">
      <canvas id="myChart" width="200" height="100"></canvas>
      <script>
        
        var ctx = document.getElementById("myChart").getContext("2d");
        var data = JSON.parse(document.getElementById('data').dataset.climate);

        data = data.map(item=>item.curahHujan);

        var myChart = new Chart(ctx, {
          type: "bar",
          data: {
            labels: ["Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"],
            datasets: [
              {
                label: "Curah Hujan",
                data: data,
                borderWidth: 4,
                borderColor: ["rgba(0,0,0,1)", "rgba(0,0,0,1)", "rgba(0,0,0,1)", "rgba(0,0,0,1)", "rgba(0,0,0,1)", "rgba(0,0,0,1)", "rgba(0,0,0,1)", "rgba(0,0,0,1)", "rgba(0,0,0,1)", "rgba(0,0,0,1)", "rgba(0,0,0,1)", "rgba(0,0,0,1)"],
              },
            ],
          },
          options: {
            scales: {
              yAxes: [
                {
                  ticks: {
                    beginAtZero: true,
                  },
                },
              ],
            },
          },
        });
      </script>
    </div>
  </div>
</div>
