<div class="container mt-5">
  <!-- <img src="images/lahan.jpg" alt="background" class="img-fluid img-thumbneil" /> -->
  <div class="row">
    <div class="col text-center">
      <h1 class="display-4 fw-bolder">KALENDER TANAM <%= tahun %></h1>
      <h1 class="display-4 fw-bolder">ACEH UTARA</h1>
    </div>
  </div>
  <div class="row center">
    <div class="row-md-4 center mt-5">
      <a class="btn btn-dark fw-bold" href="/katam" role="button">KALENDER TANAM</a>
    </div>
  </div>
</div>
