<div class="container mt-5">
  <!-- <img src="/images/farmer.jpg" class="rounded mx-auto d-block" alt="home" /> -->
  <div class="row">
    <div class="col text-center">
      <img src="/images/farmer2.jpg" alt="AboutMe" class="img-thumbnail rounded-circle" width="200" />
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <% if (msg.length !== 0) { %>
      <h1 class="display-4 fw-bolder"><%= msg %></h1>
      <% } %>
      <h1 class="display-4 fw-bolder">KALENDER TANAM <%= tahun %></h1>
      <h1 class="display-4 fw-bolder">ACEH UTARA</h1>
    </div>
  </div>
  <div class="row center">
    <div class="row-md-4 center mt-3">
      <a class="btn btn-dark fw-bold" href="/check" role="button">CEK TANAMAN KAMU SENDIRI</a>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col text-center">
      <h6>Created by Rifky Aditya</h6>
    </div>
  </div>
</div>
