<div class="container mt-3">
  <div class="row">
    <div class="col-md-5">
      <a href="/katam" class="btn btn-dark">&laquo; Kembali</a>
    </div>
    <div class="col-md-4">
      <h2 class="fw-bold"><%= plant.tanaman.toUpperCase() %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Bulan</th>
            <th scope="col">Curah Hujan</th>
            <th scope="col">Suhu Udara</th>
            <th scope="col">Keterangan</th>
          </tr>
        </thead>
        <% climates.forEach((climate,i) => { %>
        <tbody>
          <tr>
            <th scope="row"><%= climate.bulan %></th>
            <td><%= climate.curahHujan %> mm</td>
            <td><%= climate.suhuUdara %> °C</td>
            <% if (konversi[i] !== "0" ) { %>
            <td><a href="" class="btn btn-success badge">Layak</a></td>
            <% } else { %>
            <td><a href="" class="btn btn-danger badge">Tidak Layak</a></td>
            <% } %>
          </tr>
        </tbody>
        <% }) %>
      </table>
    </div>
  </div>
</div>
