<div class="container mt-5">
  <!-- <img src="images/lahan.jpg" alt="background" class="img-fluid img-thumbneil" /> -->
  <div class="row">
    <div class="col text-center">
      <h1 class="display-4 fw-bolder">
        PENGOLAHAN DATA <br />
        IKLIM DAN TANAMAN
      </h1>
    </div>
  </div>
  <div class="row center">
    <div class="col-md mt-5">
      <a class="btn btn-dark fw-bold" href="data/tanaman" role="button">DATA TANAMAN</a>
    </div>
    <div class="col-md mt-5">
      <a class="btn btn-dark fw-bold" href="data/iklim" role="button">DATA IKLIM</a>
    </div>
    <div class="col-md mt-5">
      <a class="btn btn-dark fw-bold" href="/prediksi" role="button">PREDIKSI</a>
    </div>
  </div>
</div>
