<div class="container mt-5">
  <!-- <img src="images/lahan.jpg" alt="background" class="img-fluid img-thumbneil" /> -->
  <div class="row">
    <div class="col-md-5">
      <a href="/data" class="btn btn-dark">&laquo; Kembali</a>
    </div>
    <div class="col-md-4">
      <h1 class="fw-bold">PREDIKSI</h1>
    </div>
  </div>

  <div class="row center">
    <div class="col-md mt-5">
      <a class="btn btn-dark fw-bold" href="/prediksi/curahHujan" role="button">CURAH HUJAN</a>
    </div>
    <div class="col-md mt-5">
      <a class="btn btn-dark fw-bold" href="/prediksi/suhuUdara" role="button">SUHU UDARA</a>
    </div>
  </div>
</div>
