<div class="container mt-3">
  <div class="row center">
    <div class="col-md-5">
      <a href="/data/tanaman" class="btn btn-dark">&laquo; Kembali</a>
    </div>
    <div class="col-md-6">
      <h2 class="fw-bold">PREDIKSI</h2>
    </div>
  </div>
</div>
