.center {
  text-align: center;
}

body {
  /* background-color: lightgreen; */
  background-image: url(../images/background3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* .color1 {
  color: #feffde;
}

.color2 {
  color: #ddffbc;
}

.color3 {
  color: #91c788;
}

.color4 {
  color: #52734d;
} */
