.center {
  text-align: center;
}

body {
  /* background-color: lightgreen; */
  background-image: url(../images/background3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.print-kalender{
  display: none;
}

/* .no-print {
  display: inherit;
} */

@media print {
  .no-print {
    display: none;
  }
  .print-kalender{
    display: block;
  }

}